/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

} */

/* .box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  border: 2px solid #34d4f1;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 5px 0px;
} */

/* .button-container {
  padding: 5px;
  display: flex;       
  gap: 5px; 
  border: 1px solid #34d4f1;
  border-radius: 5px;        
}

button {
  border: none;
  border-radius: 5px;
  background-color: #34d4f1;   
}
 */
/* .disabled {
  color: red
} */